<body>
    <section class="robot-section">
        <div class="text-content">
            <h1>Трансформируем будущее с помощью робототехники</h1>
            <p>Откройте для себя передовые технологии робототехники и раскройте потенциал инноваций. Присоединяйтесь к нам в формировании будущего с помощью автоматизации и интеллекта.</p>
        </div>
        <div class="image-content">
            <img src="assets/img/робот.png" >
        </div>
    </section>
    
    <section class="company-section">
        <div class="image-content">
            <img src="assets/img/Секция2.png">
        </div>
        <div class="text-content">
            <h2>О компании</h2>
            <p>Мы — команда, объединяющая людей с увлечением робототехникой. Наши соревнования по робототехнике дают шанс участникам проявить свои инженерные и программные навыки, а также показать инновационные решения в реальных условиях. Мы стремимся развивать культуру технологий и создавать сообщества, где будущие инженеры смогут делиться опытом, соревноваться и учиться друг у друга.</p>
        </div>
    </section>
    
    
    <section class="join-section">
        <div class="text-content">
            <h2>Стань участником!</h2>
            <p>Ты готов испытать свои навыки и силы в мире робототехники? Прими участие в наших соревнованиях и стань частью инновационной команды! Продемонстрируй свои идеи и решения, познакомься с единомышленниками и выиграй уникальные призы.</p>
            <a href="/request" class="cta-button">Стать участником</a>
        </div>
        <div class="image-content">
            <img src="assets/img/секция3.jpg" alt="Робот для соревнований">
        </div>
    </section>
    
    
    
</body>