body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 91vh;
    background-color: var(--nav-color);
    margin: 0;
}

.login-container {
    background-color: var(--background-color);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.login-container h1 {
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 1.5rem;
    color: var(--default-color);
}

.custom-input {
    width: 100%;
    background-color: var(--input-bg-color);
    border: 1px solid var(--nav-color);
    color: var(--nav-color);
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: var(--accent-color);
    color: var(--background-color);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--button-hover-bg-color);
}