<body>
    <div class="login-container">
        <h1>Вход</h1>
        <form>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="custom-input" id="email" placeholder="Введите свой Email">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Пароль</label>
                <input type="password" class="custom-input" id="password" placeholder="Введите свой Пароль">
            </div>
            <button type="submit">Войти</button>
        </form>
    </div>
</body>